* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.slideshow {
     display: flex;
     justify-content: center;
     align-items: center;
     /* Aggiunto per slider-nav */
     position: relative;
}

.prev,
.next {
     display: flex;
     justify-content: center;
     font-size: 30px;
     font-weight: bold;
     width: 50px;
     cursor: pointer;
}

.images {
     width: 500px;
     height: calc(500px / 16 * 9);
     cursor: pointer;
}

.images img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: none;
}

.images img.active {
     display: block;
     animation: ciao 1s linear;
}

@keyframes ciao {
     0%   {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

/* Navigation slider */

.slider-nav {
     padding: 10px 15px;
     border-radius: 5px;
     position: absolute;
     bottom: 20px;
     left:50%;
     transform: translateX(-50%);
     background-color: rgba(0,0,0,0.5);
     cursor: pointer;

}

.slider-nav i.active {
     color: white;
}
